.App {
  text-align: center;
}

.progress-bar {
  /* position: relative; */
  height: 10px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid black
}

.filler {
  background: #1da598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in
}