.usersignup-progress {
  /* position: relative; */
  height: 15px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid black;
}

.filler {
  background: #33b5e5;
  /* background: black; */
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
